body, html {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  line-height: 1.4em;
}

h1 {
  font-size: 1em;
}

a {
  color: #21A66F;
  text-decoration: none;
}

a.nice-link {
  border: 1px solid #21A66F;
  border-radius: 4px;
  padding: 10px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 380px;
  margin: 40px auto;
  padding: 0 10px;
}

.container img {
  max-width: 100%;
}

.float-right {
  float: right;
}

.word-count {
  color: #333;
}

.post-row {
  border-top: 1px solid #eee;
  padding: 10px 0;
}
